@{
    ViewData["Title"] = "Cars";
}

    <div class="home-box">
        <h1>@ViewData["Title"]</h1>
        <h2>Welcome to best app In the Universe!</h2>
        <div>
            <a type="button" class="btn btn-1 btn-1c" asp-controller="Cars" asp-action="Create">Add new car model</a>
            <a type="button" class="btn btn-1 btn-1c" asp-controller="Cars" asp-action="Index">List of car models</a>
        </div>
    </div>


