@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<p>This app is your personal car models encyclopedia</p>
<p>Collect info, compare, sort, list and filter all your favorite car models.</p>

